{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2> Verify </h2>

    <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Employee details</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined: </strong></span>{{ employee_details.date_added }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Employee Number: </strong></span> {{ employee_details.employee_number }} </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Date hired:</strong></span> {{ employee_details.date_hired }} </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">ID Number: </strong></span> {{ employee_details.id_number }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Tax pin: </strong></span> {{ employee_details.tax_id }}</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="/media/{{ employee_details.id_scanned_copy }}" class="img-thumbnail"> 
                <div class="caption">
                    <h5> Scanned Copy of ID </h5>
                </div>
            </div>
            <div class="col-sm-5">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="controls">
                        <input type="submit" class="btn btn-default" value="Save">
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
