{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if not employee_details %}
        <div class="alert alert-warning">
              Employee details not submitted yet
              Click <a href="/employees/add_details/"> Here </a> to add.
        </div>
    {% else %}
        <div class="alert alert-success">
             Employee details submitted
        </div>
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Verification details</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined: </strong></span>{{ employee_details.date_added }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Employee Number: </strong></span> {{ employee_details.employee_number }} </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Date hired:</strong></span> {{ employee_details.date_hired }} </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">ID Number: </strong></span> {{ employee_details.id_number }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Tax pin: </strong></span> {{ employee_details.tax_id }}</li>
                    <li class="list-group-item text-right"><a href="/users/logout/" class="btn btn-primary"> Logout </a> </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="/media/{{ employee_details.id_scanned_copy }}" class="img-thumbnail" > 
                <div class="caption">
                    <h5> Scanned Copy of ID </h5>
                </div>
            </div>
            <div class="col-sm-5">
                <ul class="list-group">
                    <li class="list-group-item text-muted" contenteditable="false">Verification Status: </li>
                    {% if verification_details %}
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Verified: </strong></span>{{ verification_details.verified }}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Verified By: </strong></span> {{ verification_details.user.username }} </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Comments:</strong></span> {{ verification_details.comments }} </li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Date validated: </strong></span> {{ verification_details.date_added }}</li>
                    {% else %}
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Status: </strong></span>Not worked on by admin</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class-"row">
            <div class="col-sm-12">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/employees/edit_details/" class="btn btn-default">Edit</a>
                    <a href="/employees/delete_details/" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% endblock %}
