{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete your employee details?? </p>
                <input type="submit" value="Confirm" class="btn btn-danger"/>
            </form>
        </div>
    </div>
{% endblock %}
