{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h4> Edit Details </h4>
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{ form|crispy }}
                    <div class="controls">
                        <input type="submit" class="btn btn-default" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
