{% extends 'base.html' %}

{% block content %}
    <h2> Submitted Employee details </h2>
    <a class="btn btn-primary pull-right" style="margin-bottom:20px;" href="/employees/export/"> Export to csv </a>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th> Employee Number </th>
                    <th> Tax Pin </th>
                    <th> Date Hired </th>
                    <th> ID Number </th>
                    <th> Verifier Phone Number </th>
                    <th> Date Submitted </th>
                    <th> Action </th>
                </tr>
                {% for detail in employee_details %}
                    <tr>
                        <td> {{ detail.employee_number }} </td>
                        <td> {{ detail.tax_id }} </td>
                        <td> {{ detail.date_hired }} </td>
                        <td> {{ detail.id_number }} </td>
                        <td> {{ detail.verifier_phone_number }} </td>
                        <td> {{ detail.date_added }} </td>
                        <td> <a class="btn btn-default" href="/employees/verify_data/{{detail.pk}}/"> Verify </a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
