{% extends 'base.html' %}

{% block content %}
    <div class-="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    Name: <b> {{ user.first_name }} {{ user.last_name }} </b>
                </li>
                <li class="list-group-item">
                    Username: <b> {{ user.username }} </b>
                </li>
                <li class="list-group-item">
                    Email: <b> {{ user.email }} </b>
                </li>
            </ul>
        </div>
    </div> 
    <form method="post" action="/users/verify_account/{{ user.pk }}/">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="verify">
    </form>
{% endblock %}
