<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Focus Mobile</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "date_picker/css/bootstrap-datepicker.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
  </head>

  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <h4> Focus Mobile </h4>
                </a>
            </div>
            
        </div>
    </nav>

    
    <main role="main" class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery/jquery.js" %}" ></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}" ></script>
    <script src="{% static "date_picker/js/bootstrap-datepicker.js" %}" ></script>
    <script src="{% static "js/focus_mobile.js" %}" ></script>
    </body>
</html>
