{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>WELCOME TO FOCUS MOBILE <small>Easy to Use Bulk SMS Service Provider in Kenya</small></h1>
    </div> 
    <div class="row">
        <div class="col-md-6 col-xs-12 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sign up
                </div>
                <div class="panel-body">

                    <div class="alert alert-danger hidden" id="error-section">
                          <strong>Passwords do not match</strong> 
                    </div>
                    <form class="form-horizontal" method="post" action="/users/register/" id="createuser">
                        {% csrf_token %}
                        <div class="form-group">
                             <label for="full_name" class="col-sm-2 control-label">Names</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" id="full_name" name="full_name" required>
                             </div>
                        </div> 
                        <div class="form-group">
                             <label for="user_name" class="col-sm-2 control-label">Username</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" id="user_name" name="user_name" required>
                             </div>
                        </div> 
                        <div class="form-group">
                             <label for="email" class="col-sm-2 control-label">Email</label>
                             <div class="col-sm-10">
                                 <input type="email" class="form-control" id="email" name="email" required>
                             </div>
                        </div> 
                        <div class="form-group">
                             <label for="password" class="col-sm-2 control-label">Password</label>
                             <div class="col-sm-10">
                                 <input type="password" class="form-control" id="password" name="password" required>
                             </div>
                        </div> 
                        <div class="form-group">
                             <label for="confirm_password" class="col-sm-2 control-label">Confirm Password</label>
                             <div class="col-sm-10">
                                 <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                             </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default" id="user_create">Create</button>
                            </div>
                        </div>
                    </form>            
                    <p>
                        Have an account?
                        <a href="/users/login/"> Log in </a>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
     
{% endblock %}
